.section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #f7f7f7;
  }
  
  .section-container:nth-child(even) {
    flex-direction: row-reverse;
  }
  
  .text-content {
    max-width: 50%;
  }
  
  .section-image {
    max-width: 50%;
    height: auto;
  }
  
  h1 {
    font-size: 2.5rem;
    color: #333;
  }
  
  .paragrafo {
    font-size: 1.2rem;
    color: #666;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  
  .botao {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff7f50;
    color: white;
    border-radius: 25px;
    text-decoration: none;
    margin-right: 15px;
    transition: background-color 0.3s;
  }
  
  .botao:hover {
    background-color: #e06a3f;
  }
  
  .botao-transparente {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    color: #ff7f50;
    border: 2px solid #ff7f50;
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .botao-transparente:hover {
    background-color: #ff7f50;
    color: white;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .section-container {
      flex-direction: column;
      text-align: center;
    }
  
    .text-content, .section-image {
      max-width: 100%;
    }
  
    .section-image {
      margin-top: 20px;
    }
  }
  